---
import Layout from '../layouts/Layout.astro'
import SplitView from '../components/SplitView'
const middleText = 'My job and passion at the same time is front end developement'
import mozek from '../images/mozog_bg.png'
---

<Layout title="Welcome to Astro.">
	<div class="h-full w-full overflow-hidden relative">
		<SplitView client:load>
			<div
				class="grid w-full grid-flow-col grid-cols-2 grid-rows-3 justify-items-center"
				style={{
					gridTemplateRows: 'minmax(0, 5rem) minmax(0, 5fr) minmax(0, 5rem)',
				}}
			>
				<!-- // left -->
				<div>
					<p class="typography">Hello there</p>
				</div>
				<img
					src={mozek}
					alt="mozog"
					width={1024 / 2}
					height="150px"
					class="bg-gradient-to-r from-cyan-500 to-blue-500"
				/>
				<!-- only for layout -->
				<div></div>
				<!-- // right -->
				<div>
					<p class="typography">Thats a me mario!</p>
					<p class="typography">Hello mario!</p>
				</div>
				<img
					src=""
					alt="me"
					width={150}
					height="150px"
					class="bg-gradient-to-r from-sky-300 to-blue-700"
				/>
				<!-- only for layout -->
				<div></div>
			</div>
			<p class="typography self-center">{middleText}</p>
		</SplitView>
	</div>
</Layout>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
		background-color: var(--primary);
	}

	:root {
		--primary: #0c1217;
		--secondary: #0a223e;
		--text-light: #fafafa;
		--bg-secondary: #0a223e;
		--bg-primary: #0c1217;
		--spliter: 50vw;
	}

	:where(.typography) {
		color: var(--text-color);
		background-color: var(--text-bg);
		align-self: flex-start;
		padding: 0.125rem 0.25rem;
		width: fit-content;
	}

	.typography + .typography {
		margin-top: 2px;
	}
</style>
