---
import Layout from '../layouts/Layout.astro'
import SplitView from '../components/SplitView'
const middleText = 'Take a look around and see some of my recent projects below'
import mozek from '../images/mozog_bg2.png'
import me from '../images/me.png'
import smoke from '../images/smoke.png'
import '../global.css'
import ReactLogo from '../components/ReactLogo.astro'
---

<Layout title="Welcome to Astro.">
	<div class="h-full w-full relative">
		<SplitView client:load>
			<div class="main-layout">
				<!-- // right -->
				<div class="sliced-bg-3 text-7xl">
					<p class="typography">Hello there!</p>
					<p class="typography">I'm Pavel.</p>
				</div>
				<div
					class="special-hover rounded-full bg-center bg-no-repeat inset mt-10"
					style={{
						'--size': (1024 / 2) * 0.7 + 'px',
						backgroundColor: '#a6a6a6',
						backgroundImage: `url(${smoke})`,
						backgroundSize: 'calc(120% * 1 / var(--f))',
						height: 'var(--size)',
						outline: '6px solid black',
						outlineOffset: '-3px',
					}}
				>
					<img
						src={me}
						alt="me"
						width={(1024 / 2) * 0.7}
						height={(1024 / 2) * 0.7}
						class="avatar pt-10 -mt-10"
					/>
				</div>
				<div>
					<img
						src={mozek}
						alt="mozog"
						width={1024 / 2}
						class="pt-10"
						style={{
							mixBlendMode: 'lighten',
							filter: 'grayscale(0.1)',
						}}
					/>
				</div>
				<div class="sliced-bg-3 text-4xl text-color-2">
					<p class="typography">
						I'am a front-end developer with a keen eye for design and a love for clean, semantic and
						high-quality code.
					</p>
				</div>

				<div class="sliced-bg-3 text-4xl text-color-3">
					<p class="typography">
						My specialization is React. Typescript is a must. And I'm Always curious about new
						technologies.
					</p>
				</div>
				<div class="w-96 h-96">
					<ReactLogo />
				</div>
			</div>
			<p class="typography self-center">{middleText}</p>
		</SplitView>
	</div>
</Layout>

<style>
	html,
	body {
		width: 100%;
		height: 100%;
		background-color: var(--primary);
	}

	:root {
		--primary: #0c1217;
		--secondary: #0a223e;
		--text-light: #fafafa;
		--bg-secondary: #0a223e;
		--bg-primary: #0c1217;
		--splitter: 50vw;
	}
</style>
