---
export interface Props {
	/*
	 * The color of the shadow - aplied to he background property
	 */
	shadowColor?: string
}

const { shadowColor } = Astro.props
---

<div class="atropos atropos-initializer" style={`--shadowColorAtropos:${shadowColor || '#000'}`}>
	<div class="atropos-scale">
		<div class="atropos-rotate">
			<div class="atropos-inner">
				<slot />
			</div>
		</div>
	</div>
</div>

<script>
	// import Atropos library
	import Atropos from 'atropos'

	// Initialize
	const myAtropos = Atropos({
		el: '.atropos-initializer',
		// rest of parameters
		activeOffset: 10,
		shadowScale: 1.05,
		rotateXMax: 10,
		rotateYMax: 7,
		highlight: false,
	})
</script>

<style is:global>
	.atropos .atropos-shadow {
		background: var(--shadowColorAtropos);
	}
</style>
