---
---

<div class="w-full min-h-full flex items-center justify-center relative" id="projects">
	<h4 class="fs-lg text-gray-50 group-hover:text-white font-light uppercase text-center">
		Some of my projects
		<br />
		here you will see.
	</h4>
</div>
