---
---

<div class="w-full min-h-full flex items-center justify-center relative" id="projects">
	<h4 class="fs-lg text-gray-50 group-hover:text-white font-light uppercase text-center">
		Project page is under constrution.
		<br />
		<a
			class="underline fs-md text-blue-500 hover:text-blue-700 transition-colors"
			href="https://paulicz44.github.io/stastnypavel.github.io/work.html"
			>Look at my projects on my older page here.</a
		>
	</h4>
</div>
