.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main {
	--text-color: var(--secondary);
	--text-bg: rgba(255, 255, 255, 0.049);
	background: linear-gradient(
		to right,
		var(--primary) var(--splitter),
		var(--secondary) var(--splitter),
		var(--secondary) 100%
	);
	color: var(--text-dark);
}

.divider {
	position: absolute;
	top: 0;
	left: calc(var(--splitter) - 1px);
	height: 100%;
	width: 2px;
}
