---
import Icon from 'astro-icon'
const links = [
	{
		name: 'Facebook',
		href: 'https://www.facebook.com/pavel.stastny.9',
		icon: 'simple-icons:facebook',
	},
	{
		name: 'LinkedIn',
		href: 'https://www.linkedin.com/in/pavel-stastny-155539150',
		icon: 'simple-icons:linkedin',
	},
	{
		name: 'GitHub',
		href: 'https://github.com/PauliCZ44',
		icon: 'simple-icons:github',
	},
	{
		name: 'FCC',
		href: 'https://www.freecodecamp.org/paulicz44',
		icon: 'simple-icons:freecodecamp',
	},
]
---

<footer id="footer letters-normal">
	<div class="container px-6 sm:px-20 mx-auto text-gray-300">
		<div class="font-sans text-sm font-semibold flex gap-10 sm:gap-32">
			<div class="">
				<p class="fs-base font-bold text-gray-50 mb-11">Links</p>
				<div class="flex flex-col gap-2">
					{
						links.map((l) => (
							<a
								href={l.href}
								target="_blank"
								rel="noopener noreferrer"
								class="flex items-center leading-relaxed group-link"
								role="button"
							>
								<Icon name={l.icon} height="1rem" width="1rem" />
								<span class="ml-2 link">{l.name}</span>
							</a>
						))
					}
				</div>
			</div>
			<div class="max-w-[70ch]">
				<p class="fs-base font-bold text-gray-50 mb-11">About this page</p>
				<p class="leading-relaxed opacity-80">
					Page is made ♥ Astro ♥. Even if my favourite tech stack is React/Typescript, I have chosen
					raw speed over my DX. That is why this page uses only mix of tailwind, scss and good old
					vanilla javascript.
				</p>
				<div class="mt-8">
					<p>
						My CV: <span class="ml-2"
							><a
								href="CV.pdf"
								download="PavelŠťastný"
								target="_blank"
								class="btn btn-xs downloadBtn"
								role="button"
							>
								DOWNLOAD!
							</a>
						</span><br />
						<span class="glyphicon-envelope"></span>
						stastnyp@seznam.cz
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="copyrights">
		<div class="container">
			<p class="text-right text-xs text-slate-600 opacity-90 p-3">
				&copy; Copyright {new Date().getFullYear()} Pavel Šťastný. All Rights Reserved.
			</p>
		</div>
	</div>
</footer>

<style>
	footer {
		background-color: #2f2f2f;
		padding-top: 4rem;
		padding-bottom: 1px;
		background-image: linear-gradient(
				17deg,
				rgba(41, 41, 41, 0.02) 0%,
				rgba(41, 41, 41, 0.02) 48%,
				rgba(10, 10, 10, 0.02) 48%,
				rgba(10, 10, 10, 0.02) 59%,
				rgba(164, 164, 164, 0.02) 59%,
				rgba(164, 164, 164, 0.02) 73%,
				rgba(79, 79, 79, 0.02) 73%,
				rgba(79, 79, 79, 0.02) 93%,
				rgba(42, 42, 42, 0.02) 93%,
				rgba(42, 42, 42, 0.02) 100%
			),
			linear-gradient(
				42deg,
				rgba(124, 124, 124, 0.02) 0%,
				rgba(124, 124, 124, 0.02) 15%,
				rgba(116, 116, 116, 0.02) 15%,
				rgba(116, 116, 116, 0.02) 23%,
				rgba(41, 41, 41, 0.02) 23%,
				rgba(41, 41, 41, 0.02) 44%,
				rgba(196, 196, 196, 0.02) 44%,
				rgba(196, 196, 196, 0.02) 54%,
				rgba(145, 145, 145, 0.02) 54%,
				rgba(145, 145, 145, 0.02) 100%
			),
			linear-gradient(
				151deg,
				rgba(85, 85, 85, 0) 0%,
				rgba(85, 85, 85, 0) 12%,
				rgba(66, 66, 66, 0.1) 12%,
				rgba(66, 66, 66, 0.1) 28%,
				rgba(156, 156, 156, 0.02) 28%,
				rgba(156, 156, 156, 0.02) 33%,
				rgba(230, 230, 230, 0) 33%,
				rgba(230, 230, 230, 0) 50%,
				rgba(13, 13, 13, 0.02) 50%,
				rgba(13, 13, 13, 0.02) 100%
			),
			linear-gradient(
				76deg,
				rgba(25, 25, 25, 0.02) 0%,
				rgba(25, 25, 25, 0.02) 9%,
				rgba(183, 183, 183, 0.01) 9%,
				rgba(183, 183, 183, 0.01) 32%,
				rgba(19, 19, 19, 0.15) 32%,
				rgba(19, 19, 19, 0.15) 86%,
				rgba(129, 129, 129, 0.02) 86%,
				rgba(129, 129, 129, 0.02) 88%,
				rgba(174, 174, 174, 0.06) 88%,
				rgba(174, 174, 174, 0.06) 100%
			),
			linear-gradient(90deg, rgb(41, 41, 41), rgba(8, 8, 8, 0.9));
	}
</style>
