/* https://css-tricks.com/a-fancy-hover-effect-for-your-avatar/ */
.special-hover {
	--s: var(--size, 250px); /* image size */
	--b: 3px; /* border thickness */
	--c: black; /* border color */
	--cb: transparent; /* background color */
	--f: 1; /* initial scale */

	--_g: 50% / calc(100% / var(--f)) 100% no-repeat content-box;
	--_o: calc((1 / var(--f) - 1) * var(--s) / 2 - var(--b));
	--mask: linear-gradient(#000 0 0) no-repeat 50% calc(1px - var(--_o)) /
			calc(100% / var(--f) - 2 * var(--b) - 2px) 50%,
		radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);

	transition: background 0.2s ease-in;
}

.special-hover > .avatar {
	box-sizing: content-box;
	width: var(--s);
	aspect-ratio: 1;
	border-radius: 0 0 999px 999px;

	outline: var(--b) solid var(--c);
	outline-offset: var(--_o);
	background: radial-gradient(
			circle closest-side,
			var(--cb) calc(100% - -1px - var(--b)),
			var(--c) calc(100% - var(--b)) 100%,
			#0000
		)
		var(--_g);

	-webkit-mask: var(--mask);
	transform: scale(var(--f));
	transition: ease-in-out 0.2s;
}

.special-hover:hover {
	--f: 1.1; /* hover scale */
}

.main-layout {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 2rem;
	/* // Create 2 colums layout where every row is about 80% of page height, and third row is span acros two columns */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 66vh 66vh 66vh 1fr;
}

:root {
	--color-1: #186cb8;
	--color-2: #2a9a9f;
	--color-3: #f1b211;
	--color-4: #e83611;
	--color-5: #f9002f;
}

.sliced-bg {
	font-size: 3rem;
	font-weight: 900;
	background: linear-gradient(
		219deg,
		var(--color-1) 19%,
		transparent 19%,
		transparent 20%,
		var(--color-2) 20%,
		var(--color-2) 39.7%,
		transparent 39.7%,
		transparent 40%,
		var(--color-3) 40%,
		var(--color-3) 59.7%,
		transparent 59.7%,
		transparent 60%,
		var(--color-4) 60%,
		var(--color-4) 79.7%,
		transparent 79.7%,
		transparent 80%,
		var(--color-5) 80%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.sliced-bg-3 {
	max-width: 33vw;
	font-weight: 900;
	background: linear-gradient(
		242deg,
		var(--color-1) 32.3%,
		transparent 32.3%,
		transparent 33%,
		var(--color-2) 33%,
		var(--color-2) 65.3%,
		transparent 65.3%,
		transparent 66%,
		var(--color-3) 66%
	);
	background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.sliced-bg-3[class*='text-color'] .typography {
	/* mix-blend-mode: difference; */
}

.text-color-1 {
	color: var(--color-3);
}

.text-color-3 {
	color: var(--color-3);
}

.text-color-2 {
	color: var(--color-2);
}
