:root {
	--fs-sm: clamp(0.75rem, -0.07vw + 0.77rem, 0.71rem);
	--fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--fs-md: clamp(1.33rem, 1.18vw + 1.04rem, 1.98rem);
	--fs-lg: clamp(1.77rem, 2.78vw + 1.07rem, 3.3rem);
	--fs-xl: clamp(2.35rem, 5.71vw + 0.93rem, 5.49rem);
	--fs-xxl: clamp(3.13rem, 10.94vw + 0.39rem, 9.15rem);
	--fs-xxxl: clamp(4.16rem, 20.14vw + -0.87rem, 15.24rem);
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);

	--shadow-color: 0deg 0% 3%;
	--shadow-elevation-low: 0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.47),
		0.7px 0.7px 1.1px -1.4px hsl(var(--shadow-color) / 0.44),
		1.7px 1.7px 2.6px -2.8px hsl(var(--shadow-color) / 0.4);
	--shadow-elevation-medium: 0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.5),
		1.3px 1.3px 2px -0.9px hsl(var(--shadow-color) / 0.47),
		3.5px 3.4px 5.3px -1.9px hsl(var(--shadow-color) / 0.44),
		8.7px 8.4px 13.1px -2.8px hsl(var(--shadow-color) / 0.42);
	--shadow-elevation-high: 0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.46),
		2.4px 2.4px 3.7px -0.4px hsl(var(--shadow-color) / 0.45),
		4.7px 4.5px 7px -0.8px hsl(var(--shadow-color) / 0.44),
		8px 7.7px 12px -1.2px hsl(var(--shadow-color) / 0.42),
		13.1px 12.7px 19.7px -1.6px hsl(var(--shadow-color) / 0.41),
		20.9px 20.2px 31.4px -2px hsl(var(--shadow-color) / 0.4),
		32.2px 31.2px 48.4px -2.4px hsl(var(--shadow-color) / 0.39),
		47.9px 46.3px 71.9px -2.8px hsl(var(--shadow-color) / 0.37);

	--blue-rgb: 45 45 165;
}

@media (max-width: 640) {
	html {
		font-size: 15px;
	}
}

html {
	--primary-rgb: var(--blue-rgb);
	--primary: rgb(var(--primary-rgb));
	/* // on screen bigger than 1440px make font size bigger */
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
	letter-spacing: -3px;
}

@media (min-width: 1440px) {
	html {
		font-size: 17px;
	}
}

@media (min-width: 2400px) {
	html {
		font-size: 18px;
	}
}

/* Classes for font sizes */

.fs-sm {
	font-size: var(--fs-sm);
}

.fs-base {
	font-size: var(--fs-base);
}

.fs-md {
	font-size: var(--fs-md);
}

.fs-lg {
	font-size: var(--fs-lg);
}

.fs-xl {
	font-size: var(--fs-xl);
}

.fs-xxl {
	font-size: var(--fs-xxl);
}

.fs-xxxl {
	font-size: var(--fs-xxxl);
}
